[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
